#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


h1 {
  font-family: 'Pacifico', cursive;
}


/* Card Styling */
.card {
  padding: 2em;
  background-color: #c2b6b634; /* Background color of the card */
  border-radius: 8px; /* Rounded corners for the card */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect for the card */
  margin-bottom: 20px; /* Spacing between cards */
  text-align: center; /* Align text content to the left within the card */
}

.card h2 {
  color: #747ba5; /* Color of the title */
}
.card h3 {
  color: #b14250; /* Color of the title */
}

.card ul {
  list-style-type: none;
  padding: 0;
}

.card ul li {
  margin-bottom: 10px; /* Spacing between list items */
}

.card ul li strong {
  /* Style for emphasized text in list items */
  font-weight: bold;
}


