#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

body {
  background-image: url('https://wallpaper.dog/large/20529662.jpg');
  background-size: cover; /* Cover the entire background */
  background-repeat: no-repeat; /* Prevent the background from repeating */
  background-position: center; /* Center the background image */
}

h1 {
  font-family: 'Pacifico', cursive;
  text-align: center; /* Center align the text */
  padding: 20px 0; /* Add padding at the top and bottom */
  margin-top: 0; /* Remove default margin from the top */
}


/* Card Styling */
.card {
  padding: 2em;
  background-color: #c2b6b634; /* Background color of the card */
  border-radius: 8px; /* Rounded corners for the card */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect for the card */
  margin-bottom: 20px; /* Spacing between cards */
  text-align: center; /* Align text content to the left within the card */
}

.card h2 {
  color: #353d6a; /* Color of the title */
}
.card h3 {
  color: #b14250; /* Color of the title */
}

.card ul {
  list-style-type: none;
  padding: 0;
}

.card ul li {
  margin-bottom: 10px; /* Spacing between list items */
}

.card ul li strong {
  /* Style for emphasized text in list items */
  font-weight: bold;
}

/* Added CSS for cursor effect */
.puppy-name {
  cursor: pointer; /* Change cursor to pointer when hovering over puppy names */
  transition: all 0.3s ease; /* Smooth transition for hover effect */

}

.puppy-name:hover {
  color: #1f24af; /* Highlight color */
  transform: scale(1.1); /* Grow in size on hover */
}


